@import "tailwindcss";

@theme {
  --color-lavender: #C5BAFF;
  --color-darklavender: #A483C2;
  --color-gray-100: #FBFBFB;

  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
